@font-face{
    font-family: ar-font;
    src: url(../fonts/Cairo-SemiBold.ttf); 
}
body {
    direction: rtl;
    font-family: ar-font; 
}
  .text-center {
    text-align: center;
}
header{
    background-image: url(../images/header-bg.jpg);
    background-size: cover;
    background-position:center center;
}
header .brand{
    width :auto;
    padding: 20px 10px;
    margin: 50px auto;
    border-bottom: 5px solid  #454545;
    display: inline-block;
}
.text-center.page-heading .h1{
     color: #fff ;
    font-size: 60px;
    font-weight:bold;
    line-height: 75px;
     margin: 0 auto;
}
.text-center .page-heading p{
    width: 40%;
    font-size: 13px;
    color: #acacac;
    line-height: 25px;
    padding-bottom: 15px;
    margin-top: 98px;
    margin: 0 auto;
}
header .counter .countdown-amount{
    font-size: 60px;
    font-weight: bold;
    color: #ffce00;
    display :block;
}
header .counter .countdown-period{
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    display:block;
}
header .counter .countdown-section{
    display: inline-block;
    margin:  0 20px ;
}
header .counter{
    margin: 60px auto;
    padding: 30px ;
}
 header .send-notification p {
font-size: 18px;
color: #fff;
margin-top:117px;

}
header .send-notification .input-group input , footer .input-group {
     border-radius: 0;
     font-size:18px;
     font-family: ar-font;
     color: black;
    border-width: 2px;
    border-color:#e6e6e6;
    margin-top: 45x;
}
header .send-notification .input-group button , footer .input-group button {
    border-radius:  0px;
    padding: 0.1rem 1.5rem ;
    height: auto;
    color:#212529;
    background-color:#ffce00;

}
footer .input-group button {
    background-color:#393939;
}
footer .top-footer .overlay .input-group input:hover, footer .top-footer .overlay .input-group input:focus {
    box-shadow: 0 0 0;
    border-color: #fff;
}
header .send-notification .input-group , footer .input-group{
    width: 30%;
    margin: 0px auto;

}
header .send-notification .input-group .alert, footer .alert {

    display: none;
    position: absolute;
    top: 110%;
    right: 0;
    left: 0; 
    display: none;
}
section .features h2{
margin-bottom:50px;
font-size:45px;
color:#555555;
margin-right: 50px;
padding-right: 25px;
}
section .features{
    padding: 100px 0;
}
section.features .media {
    border: 4px solid #fafafa;
    padding: 40px 10px;
    margin-bottom: 20px; 
}
section.features .media .media-body h5 {
    font-size: 24px;
    color: #555; 
}
section.features .media .media-body p {
    font-size: 15px;
    line-height: 25px;
    color: #9c9c9c; 
}
section.features {
    text-align: right;
}

footer {
    background-image: url(../images/footer-bg.jpg);
    background-size: cover;
    background-position: center center; 
}
  /* إضافة الطبقة الصفراء الشفافة على الخلفية وضبط الحاشية الخاصة بها */
  footer .top-footer .overlay {
    background-color: rgba(255, 204, 0, 0.7);
    padding: 60px 0; 
}
  /* التنسيقات المطبقة على خط العنوان */
footer .top-footer .overlay h3 {
    font-size: 30px;
    width: 80%;
    margin: 0 auto 30px; 
}
footer .contact {
    background-color: rgba(28, 28, 28, 0.9);
    padding: 60px 0 10px;
    color: #fff; 
}
footer .contact  h3 {
    font-size: 30px;
    margin: 0 auto 30px; 
}
footer .contact  ul li a {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: block;
    background-color: rgba(255, 255, 255, 0.14);
	color: #fff;
    font-size: 1.2em;
}
footer .contact ul li {
    margin: 0 5px 10px; 
}
footer .contact  ul li a:hover {
    background-color: #fad32f; 
}
footer .contact  hr {
    width: 25%;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 50px; 
}
footer .contact  p a {
    color: #b4b4b4; 
}
footer .contact  p a i {
    color: #ffce00;
    margin-left: 5px; 
}
footer .contact  ul li a {
    -webkit-transition: all 0.3s ease;
    Transition: all 0.3s ease;
}
section.features .media {
    border: 4px solid #fafafa;
    padding: 40px 10px;
    margin-bottom: 20px;
    position: relative;
    max-height: 190px;
  }
  .form-group-1 {
    margin-bottom: -3rem;
}


  @media (max-width: 768px) {
    .animate__bounceIn{
      animation-name: none !important;
}
    .animate__fadeInUp{
      animation-name: none !important;
}
    .animate__fadeInDown{
      animation-name: none !important;
}
    .animate__zoomIn{
      animation-name: none !important;
}
}

@media (max-width: 991px) {
    section.features{
        height:706px;
    }
    }